---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>
		{% include fbcmt.html %}
		{% include header.html %}
{% include nav.html nav=site.data.menu %}
		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>

</html>
